$primary: #007BFF;
$success: #28A745;
$danger: #DC3545;
$warning: #FFC107;
$info: #17A2B8;

$sm: "(min-width: 576px)";
$md: "(min-width: 720px)";
$lg: "(min-width: 960px)";
$xl: "(min-width: 1200px)";

body {
    background: #f1f1f1;
    font-family: 'Alef',
        sans-serif;
}


.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.side-bar {
    position: absolute;
    background: #fff;
    border-right: 1px solid #e1e1e1;
    z-index: 1;
    width: 250px;
    top: 56px;
    left: 0;
    overflow: auto;
    margin: 0;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 100px;

    li {
        margin-bottom: 2px;

        a {
            color: #333;
            border-bottom: 1px solid rgba(255, 255, 255, .05);
            display: block;
            padding: 10px 15px;
            text-decoration: none;

            i {
                margin-right: 10px;
                font-size: 18px;
            }

            span {
                position: relative;
                top: -2px;
            }
        }

        &:hover,
        &.active {
            a {
                color: #fff;
                background: $primary;
                border-radius: 4px;
            }
        }
    }
}

.content {
    margin: 0;
    margin-top: 56px;
    padding: 30px;

    @media #{$md} {
        margin-left: 250px;
    }
}

.bg-dark {
    .side-bar {
        li {

            &:hover,
            &.active {
                a {
                    background: $primary;
                }
            }
        }
    }
}

.bg-info {
    .side-bar {
        li {

            &:hover,
            &.active {
                a {
                    background: $info;
                }
            }
        }
    }
}

.bg-warning {
    .side-bar {
        li {

            &:hover,
            &.active {
                a {
                    background: $warning;
                }
            }
        }
    }
}

.bg-success {
    .side-bar {
        li {

            &:hover,
            &.active {
                a {
                    background: $success;
                }
            }
        }
    }
}

.bg-danger {
    .side-bar {
        li {

            &:hover,
            &.active {
                a {
                    background: $danger;
                }
            }
        }
    }
}